---
layout: layout
title: Home
---
<section class="content">
<div class="posts">
  {% for post in paginator.posts %}
  <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
  <section class="byline">
         {{ post.date | date: "%B %e, %Y" }}, {{post.author}}
       </section>
  
  
  {{post.content}}

  <div  style="text-align: right;">

    <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" style="margin-right: 2px; margin-left: auto;"><button class="btn btn-info">Kommentek...</button></a >
 </div>
  {% endfor %}

</div>


  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="{{site.baseurl}}" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="{{site.baseurl}}/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
    
    {% if paginator.next_page %} 
    <a href="{{site.baseurl}}/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %} 
  </nav>

</section>
